html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.text-hobby-gradient-triple {
    background: linear-gradient(to bottom right, #61eada, #296ed7, #40f1da) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-hobby-gradient-double {
    background: linear-gradient(to bottom right, #61eada, #0a48a2) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-hobby-gradient-rev-double {
    background: linear-gradient(to bottom right, #00a6ff, #61eada) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

.footer,
.hero-header,
.container-xxl.bg-white.p-0.main-container {
    background: transparent !important;
}

/*  Video Background Styles  */
#video-background {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1000;
}

.video-background-wrapper {
    position: relative;
}


.nav-button {
    width: 7em;
    background: linear-gradient(to bottom right, #61eada, #1216fd) !important;
}

/*  Header  */
.easter-egg-logo i {
    background: linear-gradient(to bottom right, #61eada, #3f2bfa) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.navbar-brand h1 {
    background: whitesmoke !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: flex;
}

.hero-header .row.g-5 {
    gap: 4em;
}

.hero-header .col-lg-8.text-center {
    background-color: rgba(126, 125, 125, 0.36);
    backdrop-filter: blur(10px);
    box-shadow: 5px 2px 20px 2px #0000004a;
    border-radius: 1em;
    border: 1px solid #6c6c6c !important;
    margin: 0 auto !important;
    padding: 3em !important;
    flex: 0 1 55%;
}

.hero-header .col-lg-8.text-center > * {
    margin: 0 auto !important;
    padding: 0 !important;
    font-size: 2.2em !important;
    font-weight: 500 !important;
    line-height: 1.5;
}


/*** Hero Header - TV Carousel ***/
.hero-header .col-lg-4.d-flex.justify-content-center.wow.fadeInUp {
    margin: auto;
}

.screenshot-carousel {
    position: relative;
    width: 400px;
    height: auto;
    margin: auto !important;
    padding: 0 !important;
}

.screenshot-carousel::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 229px;
    top: -1%;
    left: 0;
    background: url(../img/tv/tv.png) center center no-repeat;
    background-size: 400px 230px;
    z-index: 1;

}

.owl-carousel .owl-stage-outer {
    height: 226px;
    box-shadow: 0 0 20px 20px #0000004a;
}

.screenshot-carousel .owl-item img {
    position: relative;
    width: 399px;
    height: 223px;
    transition-duration: -1.5s, -1.5s;
}

/* Hobbies Section */
#hobbies {
    display: flex;
    gap: 4em;
}

.hobbies-title {
    background-color: rgba(126, 125, 125, 0.36);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(108, 108, 108, 0.65) !important;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    padding: 1em;
}

.hobbies-title h1 {
    margin: 0 auto !important;
    padding: 0 !important;
    font-size: 3em !important;
    font-weight: 500 !important;
    line-height: 1.5;
}

.hobbies-title h5 {
    font-size: 1.5em !important;
}

.sub-title {
    color: whitesmoke;
}

.hobbies-card {
    background-color: rgba(126, 125, 125, 0.36);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(108, 108, 108, 0.65) !important;
    border-radius: 1em;
}


/*  Footer  */
.footer {
    padding-bottom: 0.6em !important;
}

.footer > div:first-of-type {
    display: none;

}

.footer * {
    justify-content: center !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
}

.footer > div:last-of-type > div > div > div {
    padding: 1em !important;
    background-color: rgba(126, 125, 125, 0.36);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(108, 108, 108, 0.65) !important;
    border-radius: 1em;
    width: 30%;
}

.back-to-top {
    background: linear-gradient(to bottom right, #61eada, #1216fd) !important;
}


@media (max-width: 991.98px) {
    .navbar {
        background: rgba(126, 125, 125, 0.36);
        backdrop-filter: blur(10px);
        border: 1px solid #6c6c6c !important;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }

    .sticky-top.navbar-light {
        position: relative;
        background-color: rgba(126, 125, 125, 0.36);
        backdrop-filter: blur(10px);
        border: 1px solid #6c6c6c !important;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .hero-header .row.g-5 {
        gap: 3em;
    }

    /* Footer */
    .footer > div:last-of-type > div > div > div {
        width: 80%;
    }
}


@media (min-width: 992px) {
    .navbar {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }


    .sticky-top.navbar-light {
        position: fixed;
        background: rgba(126, 125, 125, 0.36);
        border: 1px solid #6c6c6c !important;
        backdrop-filter: blur(15px);
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }

}


@media (max-width: 600px) {
    /*  Header  */
    .easter-egg-logo > h1 {
        display: none;
    }

    .hero-header .row.g-5 {
        gap: 3em;
    }

    .hero-header .col-lg-8.text-center {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        width: 80%;
        flex: 0 1 auto;
        padding: 1em !important;

    }

    .hero-header .col-lg-8.text-center > * {
        font-size: 1.3em !important;
        font-weight: 500 !important;
        line-height: 1.5;
    }

    /*** Hero Header - TV Carousel ***/
    .screenshot-carousel {
        width: 320px;
        height: 270px;
        padding-right: 1px;
        padding-left: 1px;
        margin: 0;
    }

    .screenshot-carousel::before {
        top: -25px;
        background-size: 320px auto;

    }

    .owl-carousel .owl-stage-outer {
        height: 179px;
        box-shadow: 0 0 20px 20px #0000004a;
    }

    .screenshot-carousel .owl-item img {
        position: relative;
        width: 320px;
        height: 179px;

    }

    /* Hobbies */
    #hobbies {
        top: -2em;
    }
    .hobbies-title {
        width: 70%;
    }
    .hobbies-card {
        padding: 2em;
    }

    .hobbies-title h1 {
        font-size: 2em !important;
        line-height: 1.5;
    }

    .hobbies-title h5 {
        font-size: 1em !important;
    }

    /* Footer */
    .footer > div:last-of-type > div > div > div {
        width: 100%;
    }

}


@media (max-width: 370px) {
    /*  Header  */
    .easter-egg-logo > h1 {
        display: none;
    }

    /* Experience Section */
    .doubleButton .nav-link {
        padding: 0.2rem !important;
        font-size: 15px;
    }

    .hero-header .col-lg-8.text-center {
        width: 70%;
    }

    .hero-header .col-lg-8.text-center > * {
        font-size: 1.1em !important;
        font-weight: 500 !important;
        line-height: 1.1;

    }

    /*** Laptop Carousel ***/
    .screenshot-carousel {
        width: 290px;
        height: 180px;
        padding-right: 36px !important;
        padding-left: 36px !important;
        margin: 0;
    }

    .screenshot-carousel::before {
        top: -29px;
        background-size: 220px auto;

    }

    .owl-carousel .owl-stage-outer {
        height: 121px;
        box-shadow: 0 0 20px 20px #0000004a;
    }

    .screenshot-carousel .owl-item img {
        position: relative;
        width: 235px;
        height: 121px;
    }

    .owl-carousel .owl-stage-outer {
        top: 25px;
    }

    .back-to-top {

    }

    .footer > div:last-of-type > div > div > div {
        width: 100%;
    }
}