{% extends "base.html" %}

{% block navigation_block %}
    <a href="{{ url_for('index_view') }}" class="menuButton nav-item nav-link active">Return to Home</a>
    <a href="#" class="menuButton nav-item nav-link active">THIS PAGE IS UNDER CONSTRUCTION</a>
{% endblock %}

{% block hero_block %}
    <div class="container-xxl bg-primary hero-header">
{#    <div class="container-xxl bg-primary ">#}
        <div class="container px-lg-5">
            <div class="row g-5">
                <div class="col-lg-8 text-center text-lg-start">
                    <p class="text-white pb-3 animated slideInDown" data-wow-delay="0.5s">Congratulations, you have just
                        found Easter Egg.</p>
                    <h1 class="text-white mb-4 animated slideInDown" data-wow-delay="0.6s">This is page of hobbies of
                        Yanko.</h1>
                    <p class="text-white pb-3 animated slideInDown max" data-wow-delay="0.7s">Enjoy!</p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                     data-wow-delay="0.3s">
                    <div id="screenshot-carousel" class="owl-carousel screenshot-carousel">
                        <img class="img"
                             src="{{ url_for('static', filename='img/laptop/laptop-python-logo.png') }}"
                             alt="python">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}

    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis eius ex minus nulla qui rem sed!
        Asperiores dicta iste neque nisi odit possimus provident ratione, rem sapiente voluptate? Sunt.</h1>

{% endblock %}
