<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Yanko Rashkov - Portfolio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0" id="home">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0">Portfolio</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="#home" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">About me</a>
                    <a href="#skills" class="nav-item nav-link">Skills</a>
                    <a href="#certificates" class="nav-item nav-link">Certificates</a>
                    <a href="#pricing" class="nav-item nav-link">Experience</a>
                    <a href="#contact" class="nav-item nav-link">Contact</a></div>
                <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">T-101 CHAT</a>
            </div>
        </nav>

        <div class="container-xxl bg-primary hero-header">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-8 text-center text-lg-start">
                        <p class="text-white pb-3 animated slideInDown">Hello, my name is</p>
                        <h1 class="text-white mb-4 animated slideInDown">Yanko Rashkov</h1>
                        <p class="text-white pb-3 animated slideInDown max">I`m a Software Developer. Welcome to my
                            portfolio! </p>
                        {#                        <a href=""#}
                        {#                           class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Read#}
                        {#                            More</a>#}
                        {#                        <a href=""#}
                        {#                           class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Contact#}
                        {#                            Us</a>#}
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                         data-wow-delay="0.2s">
                        <div id="screenshot-carousel" class="owl-carousel screenshot-carousel">
                            <img class="img" src="/static/img/laptop/laptop-python-logo.png" alt="python">
                            <img class="img" src="/static/img/laptop/laptop-django-logo.png" alt="django">
                            <img class="img" src="/static/img/laptop/laptop-docker-logo.png" alt="docker">
                            <img class="img" src="/static/img/laptop/laptop-postgre-sql-logo.png" alt="postgresql">
                            <img class="img" src="/static/img/laptop/laptop-terraform-logo.png" alt="terraform">
                            <img class="img" src="/static/img/laptop/laptop-github-logo.png" alt="github">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- About Me Start -->
    <div class="container-xxl py-5" id="about">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="text-primary-gradient fw-medium">About Me</h1>
                    <h5 class="mb-4">Learn more about me.</h5>
                    <p class="mb-4">{{ personal_information }}</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <i class="fa fa-calendar fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                <div class="ms-3">
                                    <div class="my-start-date-style">
                                        <h2 class="mb-0" data-toggle="counter-up">{{ years }}</h2>
                                        <h2 class="mb-0" data-toggle="counter-up">{{ months }}</h2>
                                        <h2 class="mb-0" data-toggle="counter-up">{{ days }}</h2>
                                        <p>Years</p>
                                        <p>Months</p>
                                        <p>Days</p>
                                    </div>
                                    <br>
                                    <p class="text-primary-gradient mb-0">Active Coding</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="d-flex">
                                <i class="fa fa-laptop-code fa-2x text-secondary-gradient flex-shrink-0 mt-1"></i>
                                <div class="ms-3">
                                    <div class="my-start2-style">
                                        <h2 class="mb-0" data-toggle="counter-up">4</h2>
                                        <p class="text-secondary-gradient mb-0"></p>
                                    </div>
                                    <br>
                                    <p class="text-secondary-gradient mb-0">Personal Projects</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ CV }}" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3"><i
                            class="fa fa-download"></i> Download CV</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid wow fadeInUp rounded-circle" width="500" height="500" data-wow-delay="0.5s"
                         src="/static/img/my_picture.png" alt="my-myself">
                </div>
            </div>
        </div>
    </div>
    <!-- About Me End -->


    <!-- Skills Start -->
    <div class="container-xxl py-5" id="skills">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="text-primary-gradient fw-medium">My skills</h1>
                <h5 class="mb-5">What is my technical stack!</h5>
            </div>
            <div class="my-skills-style justify-content-center">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="https://www.python.org/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-python.png" width="150" height="150" alt="python">
                        </div>
                    </a>
                    <h5 class="mb-3">Python</h5>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <a href="https://www.djangoproject.com/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-django.png" width="150" height="150" alt="django">
                        </div>
                    </a>
                    <h5 class="mb-3">Django</h5>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.docker.com/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-docker.png" width="150" height="150" alt="docker">
                        </div>
                    </a>
                    <h5 class="mb-3">Docker</h5>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <a href="https://www.terraform.io/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-terraform.png" width="150" height="150" alt="terraform">
                        </div>
                    </a>
                    <h5 class="mb-3">Terraform</h5>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href="https://www.postgresql.org/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-postgre-sql.png" width="150" height="150"
                                 alt="postgresql">
                        </div>
                    </a>
                    <h5 class="mb-3">PostgresSQL</h5>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <a href="https://github.com/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-github.png" width="150" height="150" alt="github">
                        </div>
                    </a>
                    <h5 class="mb-3">GitHub</h5>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="https://azure.microsoft.com/en-us">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-azure.png" width="150" height="150" alt="azure">
                        </div>
                    </a>
                    <h5 class="mb-3">Azure</h5>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <a href="https://html.com/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-html.png" width="150" height="150" alt="html">
                        </div>
                    </a>
                    <h5 class="mb-3">HTML</h5>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="https://www.w3.org/Style/CSS/Overview.en.html">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-css.png" width="150" height="150" alt="css">
                        </div>
                    </a>
                    <h5 class="mb-3">CSS</h5>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <a href="https://flask.palletsprojects.com/en/3.0.x/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-flask.png" width="150" height="150" alt="flask">
                        </div>
                    </a>
                    <h5 class="mb-3">Flask</h5>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href="https://www.linux.com/what-is-linux/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-linux.png" width="150" height="150" alt="linux">
                        </div>
                    </a>
                    <h5 class="mb-3">Linux</h5>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <a href="https://grafana.com/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-grafana.png" width="150" height="150" alt="grafana">
                        </div>
                    </a>
                    <h5 class="mb-3">Grafana</h5>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="https://prometheus.io/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-prometheus.png" width="150" height="150"
                                 alt="prometheus">
                        </div>
                    </a>
                    <h5 class="mb-3">Prometheus</h5>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="https://prometheus.io/docs/alerting/latest/alertmanager/">
                        <div class="d-inline-flex feature-item align-items-center bg-light rounded  justify-content-center p-3">
                            <img src="/static/img/skills/skills-alermanager.png" width="150" height="150"
                                 alt="alertmanager">
                        </div>
                    </a>
                    <h5 class="mb-3">Alertmanager</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Skills End -->

    <!-- Certificates Start -->
    <div class="container-xxl py-5" id="certificates">
        <div class="container py-5 px-lg-5">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="text-primary-gradient fw-medium">Certificates</h1>
                <h5 class="mb-5">Find my certificates</h5>
            </div>
            TODO: Change Clouds picture
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonWebFrameworks.jpeg">
                            <img class="feature-item" src="/static/img/certificates/PythonWebFrameworks.jpeg"
                                 style="width: 140px; height: 200px;" alt="CloudAndContainers">
                            <h5 class="mt-4 mb-3">Cloud and Containers</h5>
                        </a>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonWebFrameworks.jpeg">
                            <img class="feature-item" src="/static/img/certificates/PythonWebFrameworks.jpeg"
                                 style="width: 140px; height: 200px;" alt="django">
                            <h5 class="mt-4 mb-3">Python Web Frameworks</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonWebBasic.jpeg">
                            <img class="feature-item" src="/static/img/certificates/PythonWebBasic.jpeg"
                                 style="width: 140px; height: 200px;"
                                 alt="django basics">
                            <h5 class="mt-4 mb-3">Python Web Basics</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonOOP.jpeg">
                            <img class="feature-item rounded" src="/static/img/certificates/PythonOOP.jpeg"
                                 style="width: 140px; height: 200px;"
                                 alt="python oop">
                            <h5 class="te mt-4 mb-3">Python OOP</h5>
                        </a>
                        <a href="https://softuni.bg/certificates/details/168051/135e14f7">Complete data of certificate</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonAdvanced.jpeg">
                            <img src="/static/img/certificates/PythonAdvanced.jpeg" style="width: 140px; height: 200px;"
                                 alt="python advanced">
                            <h5 class="te mt-4 mb-3">Python Advanced</h5>
                        </a>
                        <a href="https://softuni.bg/certificates/details/159368/6eca017f">Complete data of certificate</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonFundamentals.jpeg">
                            <img src="/static/img/certificates/PythonFundamentals.jpeg"
                                 style="width: 140px; height: 200px;"
                                 alt="python fundamentals">
                            <h5 class="te mt-4 mb-3">Python Fundamentals</h5>
                        </a>
                        <a href="https://softuni.bg/certificates/details/148718/012cedf6">Complete data of certificate</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <a href="/static/img/certificates/PythonBasic.jpeg">
                            <img src="/static/img/certificates/PythonFundamentals.jpeg"
                                 style="width: 140px; height: 200px;"
                                 alt="python basic">
                            <h5 class="te mt-4 mb-3">Python Basics</h5>
                        </a>
                        <a href="https://softuni.bg/certificates/details/135311/0f9fd045">Complete data of certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Certificates End -->


    <!-- Screenshot Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">Screenshot</h5>
                    <h1 class="mb-4">User Friendly interface And Very Easy To Use Fitness App</h1>
                    <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat
                        ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat
                        amet</p>
                    <p><i class="fa fa-check text-primary-gradient me-3"></i>Diam dolor diam ipsum et tempor sit</p>
                    <p><i class="fa fa-check text-primary-gradient me-3"></i>Aliqu diam amet diam et eos labore</p>
                    <p class="mb-4"><i class="fa fa-check text-primary-gradient me-3"></i>Clita erat ipsum et lorem et
                        sit</p>
                    <a href="" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">Read More</a>
                </div>
                <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                     data-wow-delay="0.3s">
                    <div class="owl-carousel screenshot-carousel  owl-dot">
                        <img class="img-fluid" src="/img/screenshot-1.png" alt="">
                        <img class="img-fluid" src="/img/screenshot-2.png" alt="">
                        <img class="img-fluid" src="/img/screenshot-3.png" alt="">
                        <img class="img-fluid" src="/img/screenshot-4.png" alt="">
                        <img class="img-fluid" src="/img/screenshot-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Screenshot End -->

    <!-- Download Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid wow fadeInUp" data-wow-delay="0.1s" src="/static/img/picture.png">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h5 class="text-primary-gradient fw-medium">Download</h5>
                    <h1 class="mb-4">Download The Latest Version Of Our App</h1>
                    <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat
                        ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat
                        amet</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <a href="" class="d-flex bg-primary-gradient rounded py-3 px-4">
                                <i class="fab fa-apple fa-3x text-white flex-shrink-0"></i>
                                <div class="ms-3">
                                    <p class="text-white mb-0">Available On</p>
                                    <h5 class="text-white mb-0">App Store</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <a href="" class="d-flex bg-secondary-gradient rounded py-3 px-4">
                                <i class="fab fa-android fa-3x text-white flex-shrink-0"></i>
                                <div class="ms-3">
                                    <p class="text-white mb-0">Available On</p>
                                    <h5 class="text-white mb-0">Play Store</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Download End -->


    <!-- Pricing Start -->
    <div class="container-xxl py-5" id="pricing">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Pricing Plan</h5>
                <h1 class="mb-5">Choose Your Plan</h1>
            </div>
            <div class="tab-class text-center pricing wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center bg-primary-gradient rounded-pill mb-5">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="pill" href="#tab-1">Monthly</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="pill" href="#tab-2">Yearly</button>
                    </li>
                </ul>
                <div class="tab-content text-start">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">Starter Plan</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>14.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Month</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded border">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">Advance Plan</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>24.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Month</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-secondary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">Premium Plan</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>34.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Month</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade p-0">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">Starter Plan</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>114.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Yearly</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded border">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">Advance Plan</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>124.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Yearly</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">Premium Plan</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>134.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Yearly</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5" id="review">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Testimonial</h5>
                <h1 class="mb-5">What Say Our Clients!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/img/testimonial-1.jpg"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/img/testimonial-2.jpg"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/img/testimonial-3.jpg"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/img/testimonial-4.jpg"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5" id="contact">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Contact Us</h5>
                <h1 class="mb-5">Get In Touch!</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <p class="text-center mb-4">The contact form is currently inactive. Get a functional and working
                            contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little
                            code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message"
                                                  style="height: 150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="submit">Send
                                        Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Address</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Quick Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Popular Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                        vulpu</p>
                    <div class="position-relative w-100 mt-3">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                               placeholder="Your Email" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/wow/wow.min.js"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/counterup/counterup.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/static/js/main.js"></script>
</body>

</html>